@* Makes use of the jQuery bar rating plugin
   https://github.com/antennaio/jquery-bar-rating
*@
<select id="ratingScale">
    <option value="1">Never Mention This</option>
    <option value="2">Bad</option>
    <option value="3">Neutral</option>
    <option value="4">Good</option>
    <option value="5">Awesome</option>
</select>