@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LearningPlatform.Models.Courses.Course
<div class="course-details">
    <div class="course-info">
        <div class="course-info-title">@Html.DisplayFor(m => Model.Title)</div>

        @if (Model.Featured == true)
        {
            <div class="course-featured">Featured</div>
        }
        else
        {
            <div class="course-featured">New</div>
        }

        <div class="course-date">Published on: @Html.DisplayFor(m => Model.PublishDate)</div>
    </div>

    <div class="course-tags">
        <div class="course-tag-title"> Tags </div>
        <div class="course-tag-tags">
            @foreach (var tag in Model.Tags)
            {
                <div class="course-tag-container">@Html.DisplayFor(m => tag)</div>
            }
        </div>
    </div>
</div>

<div class="course-content"></div>