/**
 *  Styles applying to the course page
 */

/*********************************
 * Course styles
 *********************************/

.course-ribbon {
    font-size: 1.2em;
    color: #454545;
    padding: 1em;
}

    .course-ribbon > * + * {
        margin-top: 0.75em;
    }

    .course-ribbon .ribbon-text-large {
        font-size: 1.4em;
        line-height: 1.6;
    }


.course-details-header {
    margin-bottom: 2em;
}

.course-header-info .field-label {
    margin-top: 3em;
}

@media only screen and (max-width: 991px) {
    .courses-header-info {
        margin-top: 2em;
    }
}

@media only screen and (min-width: 992px) {
    .course-ribbon {
        width: 75%;
        padding: 2em 1.5em;
        margin-left: 25%;
    }

    .course-header-info .course-title {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .course-ribbon {
        width: 60%;
        margin-left: 40%;
    }
}

/*********************************
 * Course Builder styles
 *********************************/

#courseDescription {
    min-height: 250px;
}

.course-builder-container > h3 {
    margin-bottom: 1.5em;
}

.course-builder-container .btn {
    min-width: 115px;
}

.course-builder-header {
    margin-bottom: 2em;
}

.course-builder-topics-container {
    margin-bottom: 2em;
}

#course-builder-topics {
    width: 90%;
    margin: auto;
}

.course-builder-topic {
    padding: 2em;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

    .course-builder-topic .form-group:last-child {
        margin-bottom: 0;
    }

    .course-builder-topic .form-control + .form-control {
        margin-top: 0.5em;
    }
