/**
 *  Styles applying to the Home Page
 */

/*********************************
 * Home page latest course
 *********************************/

.latest-course-section {
	width: 80%;
	margin: auto;
}

		.latest-course-section h3 {
				font-size: 27px;
				margin-bottom: 0.75em;
		}

.latest-course-thumbnail img {
		margin: auto;
		background-color: rgba(44, 96, 243, 0.05);
}

.latest-course-details {
		margin-top: 1.5em;
}

@media only screen and (min-width: 768px) {
		.latest-course-details {
				padding: 0 25px;
				margin-top: 0;
		}
}

.latest-course-title {
		font-size: 1.2em;
		margin-bottom: 1em;
}

.latest-course-tags {
	margin-top: 2em;
}

/*********************************
 * General courses box styles
 *********************************/

.courses-container {
	margin-top: 3em;
}

@media only screen and (max-width: 991px) {
	.courses-box-wrapper + .courses-box-wrapper {
		margin-top: 2em;
	}
}

.courses-box {
	border: 1px solid #000;
}

.courses-title {
	font-size: 20px;
	text-align: center;
	padding: 12px 0;
	color: white;
	border-bottom: 2px solid #2c5e58;
	background-color: #36736C;
}

.courses-list {
    overflow-y: auto;
    max-height: 1200px;
    width: 100%;
}

.course-item {
	font-size: 15px;
	cursor: pointer;
	padding: 5px 15px;
	background-color: #eee;
}

	.course-item + .course-item {
		border-top: 1px solid #ddd;
	}

	.course-item:hover {
		color: #fafafa;
		background-color: #1398B2;
	}

		.course-item:hover .course-item-date {
			border-left: 2px solid #fff;
		}

/*********************************
 * Particular courses box styles
 *********************************/
