/**
 *  Styles applying to the Home Page
 */

/*********************************
 * Home page latest course
 *********************************/

.latest-course-section {
    width: 80%;
    margin: auto;
}

    .latest-course-section h3 {
        font-size: 27px;
        margin-bottom: 0.75em;
    }

.latest-course-thumbnail img {
    margin: auto;
    background-color: rgba(44, 96, 243, 0.05);
}

.latest-course-details {
    margin-top: 1.5em;
}

@media only screen and (min-width: 768px) {
    .latest-course-details {
        padding: 0 25px;
        margin-top: 0;
    }
}

.latest-course-title {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.latest-course-tags {
    margin-top: 2em;
}

/*********************************
 * Home page multi-item carousel
 *********************************/

.multi-item-carousel .carousel-control {
    width: 4%;
    background-image: none;
}

.carousel-control .glyphicon {
    transform: translate(0, -150%);
}

@media all and (min-width: 1200px) {
    .carousel-control.left .glyphicon {
        transform: translate(-200%, -150%);
    }

    .carousel-control.right .glyphicon {
        transform: translate(150%, -150%);
    }
}

.multi-item-carousel .cloned-item-1,
.multi-item-carousel .cloned-item-2,
.multi-item-carousel .cloned-item-3 {
    display: none;
}

@media all and (min-width: 768px) {
    .multi-item-carousel .carousel-inner > .active.left,
    .multi-item-carousel .carousel-inner > .prev {
        left: -50%;
    }

    .multi-item-carousel .carousel-inner > .active.right,
    .multi-item-carousel .carousel-inner > .next {
        left: 50%;
    }

    .multi-item-carousel .carousel-inner > .left,
    .multi-item-carousel .carousel-inner > .prev.right,
    .multi-item-carousel .carousel-inner > .active {
        left: 0;
    }

    .multi-item-carousel .carousel-inner .cloned-item-1 {
        display: block;
    }
}

@media all and (min-width: 992px) {
    .multi-item-carousel .carousel-inner > .active.left,
    .multi-item-carousel .carousel-inner > .prev {
        left: -25%;
    }

    .multi-item-carousel .carousel-inner > .active.right,
    .multi-item-carousel .carousel-inner > .next {
        left: 25%;
    }

    .multi-item-carousel .carousel-inner > .left,
    .multi-item-carousel .carousel-inner > .prev.right,
    .multi-item-carousel .carousel-inner > .active {
        left: 0;
    }

    .multi-item-carousel .carousel-inner .cloned-item-2,
    .multi-item-carousel .carousel-inner .cloned-item-3{
        display: block;
    }
}
