/***********************
 * Bootstrap overrides
 ***********************/

.page-header {
		border-bottom: none;
		margin: 0;
		padding: 0;
}

.navbar {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.navbar-nav > li > a {
		line-height: 40px;
}

/***********************
 * Header styles
 ***********************/

/* On hover effect */
.navbar-brand span {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: 40px;
		line-height: 40px;
		padding: 0 7px;
		transition: 0.4s;
}
		
		.navbar-brand:hover {
				font-weight: bold;
		}

		.navbar-brand span:before,
		.navbar-brand span::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
				transition: 0.4s;
				transform: scale(0);
		}

		.navbar-brand span:hover::before,
		.navbar-brand span:hover::after {
				transform: scale(1);
		}

		.navbar-brand span:before {
				border-bottom: 2px solid #444;
				border-left: 2px solid #444;
				transform-origin: 100% 0%;
		}

		.navbar-brand span:after {
				border-top: 2px solid #444;
				border-right: 2px solid #444;
				transform-origin: 0% 100%;
		}

.navbar-login {
		display: flex;
		align-items: center;
		height: 70px;
		margin-left: 20px;
}

.navbar-login > * {
		margin-right: 3px;
}

/***********************
 * Banner styles
 ***********************/

.hero-image {
		position: relative;
		padding: 2em 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

@media only screen and (min-width: 768px) {
		.hero-image {
				padding: 0;
				height: 50vh;
		}
}

.hero-overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
}

.banner-text {
		display: inline-block;
		font-size: 3em;
}

@media only screen and (min-width: 768px) {
		.banner-text {
				padding: 0 0.5em 0.2em;
				border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		}
}

#banner + .container {
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
}

/***********************
 * Page Content styles
 ***********************/

.page-content {
		padding: 2em 0;
		margin: 1em 0;
}

/* Limit Register form width */
.form-horizontal.register {
		max-width: 800px;
		margin: auto;
}

/* Limit Register form input box width */
.form-horizontal.register .col-md-10 {
		max-width: 500px;
}

/***********************
 * Footer styles
 ***********************/

.page-footer {
		padding-top: 20px;
		color: #fafafa;
		background-color: #424242;
		box-shadow: 0 500px 0 500px #3e3e3e;
}

		.page-footer .footer-copyright {
				display: flex;
				align-items: center;
				min-height: 50px;
				padding: 10px 0;
				margin-top: 20px;
				color: rgba(255,255,255,0.8);
				background-color: rgba(51, 51, 51, 0.25);
		}

/***********************
 * Login Modal
 ***********************/

#login-modal .modal-dialog {
		position: relative;
		left: auto;
		right: auto;
		top: 20%;
}

#login-modal .modal-body {
		width: 85%;
		margin: 15px auto;
}

/***********************
 * Accordion panels
 ***********************/

.panel-group .panel {
    border-radius: 2px;
    margin-top: 25px;
}

.panel-group .panel + .panel {
    margin-top: 25px;
}

.panel-heading {
    padding: 15px;
}

.panel-body {
    padding-top: 25px;
}

/* Accordion panel glyphs */
.panel-heading .accordion-toggle:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

/***********************
 * Elements
 ***********************/

.card {
		padding: 20px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.filter-button {
		display: inline-block;
		min-width: 5em;
		padding: 0.5em;
		font: 14px "PT Sans", sans-serif;
		color: #4d94cc;
		text-align: center;
		border: 1px solid #4d94cc;
		border-radius: 50px;
		transition: color 0.2s ease-out;
		box-sizing: border-box;
}
		
		.filter-button.small {
				min-width: 4em;
				font-size: 12px;
		}

		.filter-button:hover {
				color: white;
				background-color: #4d94cc;
				text-decoration: none;
				cursor: pointer;
		}

.field-label {
    font-weight: bold;
    margin: 0.75em auto 0.25em;
}

/* Rating bar */
.rating-label {
    font-size: 14px;
    line-height: 1;
}

.rating-meter-container {
    height: 10px;
    margin: 2px 0;
    background-color: #ddd;
}

.rating-meter {
    height: 100%;
    background-color: #4d94cc;
}

.btn.pull-right + .btn.pull-right {
    margin-right: 5px;
}
