@model LearningPlatform.Models.Courses.CourseBuilderPageModel

@{
    ViewBag.Title = "CourseBuilder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddNewCourse", "CourseBuilder", FormMethod.Post))
{
    <div class="course-builder-container">

        <div class="course-builder-container-header">
            <div class="course-builder-container-header-coursemetadata">
                <div class="course-builder-container-header-coursemetadata-title">
                    @Html.TextBoxFor(m => m.CurrentCourse.Name, new { @id = "courseTitle", placeholder = "Course title", @class = "form-control" })
                </div>
                <div class="course-builder-container-header-coursemetadata-description">
                    @Html.TextBoxFor(m => m.CurrentCourse.Description, new { @id = "courseDescription", placeholder = "Course description", @class = "form-control" })
                </div>
            </div>
            <div class="course-builder-container-header-buildoptions">
                <button type="button" value="Add paragraph"
                        class="course-builder-container-header-buildoptions-option btn btn-primary"
                        data-toggle="modal" data-target="#adduielement-modal">
                    Add paragraph
                </button>
                <button type="button" value="Add video"
                        class="course-builder-container-header-buildoptions-option btn btn-primary"
                        data-toggle="modal" data-target="#adduielement-modal">
                    Add video
                </button>
                <button type="button" value="Add image"
                        class="course-builder-container-header-buildoptions-option btn btn-primary"
                        data-toggle="modal" data-target="#adduielement-modal">
                    Add image
                </button>

            </div>
        </div>

        <div class="course-builder-container-coursecontent">

            @Html.TextAreaFor(m => m.CurrentCourse.ContentHtml,
               new {
                   @placeholder = "Insert here the HTML code for the new course.",
                   @id = "courseContentHtml",
                   @class = "course-builder-container-contenthtml form-control"
               })
            
            <button type="button" value="Clear" onclick="ClearCourseHtmlContent()"
                    class="course-builder-container-clearcontent btn btn-primary">
                Clear
            </button>
        </div>

        <input class="course-builder-container-savecourse btn btn-primary" type="submit" value="Save course" />
    </div>
}


@*TODO: MOVE THIS INTO A SEPARATE JS FILE*@
<script type="text/javascript">
    function ClearCourseHtmlContent() {
        document.getElementById('courseContentHtml').value = '';
    }
</script>
